@font-face {
  font-family: Raleway;
  src: url(Raleway-Regular.ttf);
}

@import 
	'animation.scss',
	'grid.scss';

$light: #fff;
$dark: #333;
$grey1: #999;
$grey2: #ccc;
$grey3: #D9D9D9;
$grey4: #E1E1E1;
$grey5: #F4F4F4;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
	line-height: 1.4;
	font-family: arial, sans-serif;
	font-family: Raleway;
	scroll-behavior: smooth;
	
	&::-webkit-scrollbar {
		display: none;
	}
}

html,
body {
  font-size: 14px;
  color: $dark;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: url(../images/bg.png) no-repeat center;
	background-size: cover;
	// background: #EBFAFF;
}

#app {
	max-width: 1600px;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	
	@media (min-width: 991px) {
		padding: 0 28px;
	}
}

.main-nav {
	display: none;
	max-height: calc(100vh - 56px);
	background: rgba(255, 255, 255, .4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, .4);
	border-radius: 18px;
	padding: 16px;
	position: fixed;
	left: 28px;
	top: 28px;
	
	@media (min-width: 991px) {
		display: block;
		width: 280px;
	}
	
	.profile {
		display: grid;
		grid-template: 38px / 38px auto;
		grid-gap: 10px;
		margin-bottom: 28px;
	}
	
	.ava {
		border-radius: 50%;
		background: #62EEAB;
		position: relative;
		
		.text {
			position: absolute;
			font-size: 18px;
			font-weight: 600;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	ul {
		padding: 0 0 8px;
	}
	
	.nav-item {
		padding: 14px 16px;
		border-radius: 6px;
		display: flex;
		align-items: center;
		
		&.active {
			color: #03177E;
			background: #C3E6FF;
			font-weight: 600;
		}
	}
}

.template-wrapper {
	@media (min-width: 991px) {
		margin: 28px auto 28px 320px;
		min-height: calc(100vh - 56px);
		max-height: calc(100vh - 56px);
		background: rgba(255, 255, 255, .4);
		box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
		border: 1px solid rgba(255, 255, 255, .4);
		border-radius: 24px;
		overflow: auto;
	}
}

a,
button {
	cursor: pointer;
}

a,
button,
input,
textarea,
select {
  outline: 0;
	
  &:focus {
    outline: 0;
  }
	
	&:visited {
    outline: 0;
		text-decoration: none;
		color: inherit;
  }
	
	&:-webkit-any-link {
		outline: 0;
		text-decoration: none;
		color: inherit;
	}
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"],
select,
button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-align: left;
	color: $dark;
}

select,
.select {
	background: #fff url('../images/carret_down.png') no-repeat right center !important;
}

ul {
  list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	margin: 10px 0;
	background: $grey3;
	height: 1px;
	border: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-weight-normal {
	font-weight: normal;
}

.font-weight-bold {
	font-weight: 600;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow: auto;
}

.position-relative {
	position: relative;
}

.d-block {
	display: block;
}

.d-none {
	display: none;
}

.text-warning {
  color: #ffa900 !important;
}

.text-primary {
  color: #1266f1 !important;
}

.text-success {
  color: #00b74a !important;
}

.text-danger {
  color: #f93154 !important;
}

.text-secondary {
  color: $grey1 !important;
}

.ml-6 {
	margin-left: 6px;
}

.mr-6 {
	margin-right: 6px;
}

.mr-8 {
	margin-right: 8px;
}

.mr-12 {
	margin-right: 12px;
}

.mr-14 {
	margin-right: 14px;
}

.mr-18 {
	margin-right: 18px;
}

.mr-24 {
	margin-right: 24px;
}

.mr-28 {
	margin-right: 28px;
}

.mr-auto {
	margin-right: auto;
}

.mb-6 {
	margin-bottom: 6px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-14 {
	margin-bottom: 14px;
}

.mb-18 {
	margin-bottom: 18px;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-28 {
	margin-bottom: 28px;
}

.mb-40 {
	margin-bottom: 24px;
}

.rounded-8 {
	border-radius: 8px;
}

.rotate {
	transform: rotate(180deg);
}

.toast {
	top: 60px;
	left: 50%;
	transform: translate(-50%, 0);
	position: fixed;
	z-index: 11111;
	background: $grey4;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
	padding: 12px;
	font-size: 14px;
	border-radius: 4px;
	font-weight: 500;
	max-width: calc(100% - 32px);
	display: flex;
	align-items: center;
	
	&.success {
		background: #d4edda;
		color: #155724;
	}
	
	&.danger {
		background: #f8d7da;
		color: #721c24;
	}
	
	&.warning {
		background: #fff3cd;
		color: #856404;
	}
	
	@media (min-width: 667px) {
		width: auto;
	}
	
	svg {
		margin-right: 4px;
	}
}

.card {
	border-radius: 16px;
	background: $light;
	padding: 16px;
}

.container {
	max-width: 768px;
	margin: 0 auto;
	display: block;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.no-pc {
	@media (min-width: 1024px) {
		display: none;
	}
}

.btn,
.input,
.select {
	padding: 8px 12px;
	height: 40px;
}

.input,
.select {
	display: block;
	width: 100%;
	border: 1px solid $grey2;
	border-radius: 6px;
	background: $light;
	
	&:disabled {
		background: $grey4;
	}
	
	&.error {
		border-color: #f93154;
	}
}

.select {
	.dropdown-menu {
		top: calc(100% + 6px);
		left: 0;
		width: 100%;
		
		.input {
			margin-bottom: 4px;
			display: flex;
			align-items: center;
			background: $grey4;
			padding: 8px;
			border: 0;
			height: auto;

			input {
				border: 0;
				width: 100%;
				background: transparent;
			}

			svg {
				margin-right: 6px;
			}
		}

		ul {
			padding: 4px 0;
			max-height: 140px;
			overflow: auto;
		}

		li {
			padding: 4px 6px;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background: $grey4;
			}
		}
	}
	
	.placeholder {
		cursor: pointer;
		display: block;
	}
}

.btn {
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
	color: #000;
	border: 0;
	font-weight: 500;
	background: transparent;
	text-decoration: none;
	display: inline-block;
	font-weight: 600;
	
	&.btn-light {
		background: $grey4;
	}
	
	&.btn-primary {
		color: #03177E;
		background: #C3E6FF;
	}
	
	&.btn-secondary {
		background: $grey3;
	}
	
	&.btn-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	
	&.btn-upload {
		position: relative;
		
		input[type="file"] {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			cursor: pointer;
			opacity: 0;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 11;
}

.loading {
	background: $grey4;
  background: linear-gradient(to right, $grey4 8%, #F0F0F0 18%, $grey4 33%);
  background-size: 800px 104px;
	animation: placeHolderShimmer 1.25s linear infinite;
	border-radius: 4px;
	
	&.image {
		border-radius: 8px;
	}
	
	&.text {
		height: 14px;
		max-width: 320px;
		width: 100%;
	}
	
	&.heading-large {
		height: 24px;
		
		@media (min-width: 768px) {
			height: 40px;
		}
	}
	
	&.heading-medium {
		height: 16px;
		
		@media (min-width: 768px) {
			height: 24px;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

.label {
	display: block;
	font-weight: 600;
	margin-bottom: 6px;
}

.required {
	&::after {
		content: '*';
		color: #f93154;
		display: inline-block;
		margin-left: 4px;
	}
}

.note {
	border-left: 4px solid #2A0F96;
	background: #D6C3FF;
	padding: 12px;
	display: block;
	width: 100%;
}

.scrollable-table {
	overflow-x: auto;
	padding-bottom: 6px;
	
	&::-webkit-scrollbar {
		height: 6px;
	}
}

.table {
	width: 100%;
	white-space: nowrap;
	border-collapse: collapse;
	
	th,
	td {
		padding: 8px;
		vertical-align: middle;
	}
	
	thead th {
		background: #D6C3FF;
	}
	
	tbody tr {
		&:nth-child(even) {
			background: $grey4;
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 111;
	// display: none;
	
	&.modal-scroll {
		overflow: auto;
	}
	
	.modal-dialog {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 111;
		
		@media (min-width: 991px) {
			margin: 16px auto;
			max-width: 600px;
			max-height: calc(100% - 56px);
		}
	}
	
	.modal-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		background: $light;
		box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
		
		@media (min-width: 991px) {
			border-radius: 12px;
		}
	}

	.modal-header,
	.modal-body,
	.modal-footer {
		padding: 16px;
	}

	.modal-header {
		border-bottom: 1px solid $grey4;		
		position: relative;
		
		.modal-title {
			font-size: 16px;
			font-weight: 600;
			color: $dark;
			margin-bottom: 4px;
		}
		
		.btn.close {
			position: absolute;
			padding: 16px;
			top: 0;
			right: 0;
		}
		
		.btn.back {
			padding: 8px 12px 8px 0;
			margin-right: 16px;
		}
	}
	
	.modal-body {
		overflow-y: auto;
		margin-bottom: auto;
		padding: 16px;
	}
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	min-width: 140px;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 500;
	padding: 6px;
	background: $light;
	border: 1px solid $grey5;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, .15);
	border-radius: 8px;
	display: none;
	z-index: 1;
	
	&.show {
		display: flex;
		flex-direction: column;
	}
	
	.dropdown-item {
		display: block;
		cursor: pointer;
		padding: 10px 6px;
		border-radius: 4px;
		margin: 0;
		display: flex;
		align-items: center;
		
		&:hover {
			background: $grey5;
		}
		
		svg {
			margin-right: 6px;
		}
	}
}

.lds-ring {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1111111111;
  justify-content: center;
  align-items: center;
  background: transparent;
  background: rgba(255, 255, 255, .1);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  border: 5px solid #03177E;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
  border-color: #03177E transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lazy {
	animation: hintloading 2.5s ease-in-out 0s infinite reverse;
	
	&.long-content {
		height: 34px;
		width: 80%;
		border-radius: 8px;
		
		@media (min-width: 1024px) {
			height: 68px;
		}
	}
	
	&.image {
		border-radius: 16px;
	}
	
	&.medium-content {
		height: 18px;
		width: 60%;
		border-radius: 6px;
		
		@media (min-width: 1024px) {
			height: 22px;
		}
	}
	
	&.short-content {
		height: 14px;
		width: 40%;
		border-radius: 6px;
		
		@media (min-width: 1024px) {
			height: 18px;
		}
	}
	
	&.btn {
		width: 100px;
		height: 40px !important;
	}
}

@keyframes hintloading
{
  0% {
    background: $grey4;
  }
  50%  {
    background: $grey3;
  }
  100% {
    background: $grey4;
  }
}

.switch {
	position: relative;
	width: 46px;
  height: 28px;
	display: inline-block;
	
	input {
		opacity: 0;
		width: 0;
		height: 0;
		
		&:checked + .slider {
			background: #00b74a;
		}
		
		&:checked + .slider::before {
			transform: translateX(18px);
		}
	}
	
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $grey3;
		transition: .2s;
		border-radius: 50px;
		
		&::before {
			position: absolute;
			content: '';
			height: 20px;
			width: 20px;
			left: 4px;
			bottom: 4px;
			background: $light;
			transition: .2s;
			border-radius: 50%;
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 16px 14px;
	
	.header-title {
		font-size: 18px;
		font-weight: 600;
	}
	
	.ava {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background: url(../images/default_avatar.png) no-repeat center;
		background-size: cover;
	}
}

.nav {
	padding: 10px 16px;
	overflow: hidden;
	
	&.date-nav {
		display: grid;
		grid-template: auto / 80px 1fr;
		
		.select {
			background-color: transparent !important;
			padding: 0;
			height: auto;
			border: 0;
		}
		
		@media (min-width: 991px) {
			padding-bottom: 16px;
		}
	}
}

.scrollable-horizontal-list {
	overflow: auto;
	
	.sticky {
		position: sticky;
		left: 0;
		padding: 8px 16px;
		display: block;
		
		@media (min-width: 991px) {
			display: none;
		}
	}
}

.search-form {
	border-top: 1px solid $grey4;
	border-bottom: 1px solid $grey4;
	display: flex;
	align-items: center;
	
	@media (min-width: 991px) {
		border: 0;
	}
	
	.search-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		
		@media (min-width: 991px) {
			background: $grey5;
			border-radius: 100px;
			padding: 0 12px;
		}
		
		svg {
			margin-right: 12px;
			
			@media (min-width: 991px) {
				margin-right: 0;
			}
		}
		
		.input {
			border: 0;
			background: transparent;
		}
	}
}

.tag-list {
	display: flex;
	white-space: nowrap;
	display: flex;
	align-items: center;
	
	.tag-item {
		cursor: pointer;
		display: inline-block;
		margin-right: 4px;
		color: $grey1;
		border-radius: 4px;
		padding: 8px;
		
		&:last-child {
			margin-right: 0;
		}
		
		&:hover {
			background: $grey5;
			color: $dark;
		}
		
		&.active {
			color: #03177E;
			background: #C3E6FF;
			font-weight: 600;
		}
		
		&.square {
			width: 40px;
			height: 40px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.curriculum-list {
	padding: 0 0 16px;
	
	.group-name {
		flex: 0 0 25%;
		max-width: 25%;
		padding: 16px;
		
		.name {
			position: sticky;
			top: 16px;
		}
	}
	
	.item {
		display: flex;
		border-bottom: 1px solid $grey4;
  	margin-bottom: 6px;
		
		&:last-child {
			border: 0;
		}
		
		ul {
			flex-grow: 1;
			padding: 0 6px;
			
			li {
				padding: 8px;
				border-radius: 6px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 6px;
			}
		}
	}
}

.teacher-curriculum-list {
	padding: 16px;
	background: transparent;
	
	@media (min-width: 991px) {
		padding: 0;
		background: $light;
		margin-top: 14px;
		border-radius: 12px;
	}
	
	.item {
		display: flex;
  	margin-bottom: 6px;
		background: $light;
		border-radius: 6px;
		padding: 14px;
		align-items: center;
		
		&:hover {
			background: $grey5;
		}
		
		p {
			flex: 0 0 55%;
		}
		
		.btn {
			flex: 0 0 60px;
		}
	}
}

.schedule-row {
	display: grid;
	grid-template: auto / 45px 1fr;
	padding: 14px 16px;
	border-bottom: 1px solid $grey3;
	background: $light;
}

.list-heading {
	margin: 0 0 16px;
	font-size: 16px;
	font-weight: 600;
	
	@media (min-width: 991px) {
		background: #CEF3FF;
    padding: 12px 16px;
    border-radius: 100px;
    margin: 0 16px 14px;;
	}
}